{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name | remove: ', PhD' | remove: ', Ph.D.' }}.
    {%- if site.impressum_path -%}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {%- endif -%}
    {%- if site.last_updated -%}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {%- endif %}
  </div>
</footer>
{%- else -%}
<footer class="sticky-bottom mt-5">
  <div class="container">
    <div class="footer-inner">
      <p class="footer-copy">
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name | remove: ', PhD' | remove: ', Ph.D.' }}
      </p>
      <p class="footer-meta">
        {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </p>
    </div>
  </div>
</footer>
{%- endif %}
