<section class="news site-section" aria-labelledby="news-heading">
  <div class="section-header">
    <h2 id="news-heading">News</h2>
  </div>

  {% if site.news -%}
  <ol class="news-list">
    {%- assign news = site.news | reverse -%}
    {% for item in news limit: site.news_limit %}
    <li class="news-item">
      <time class="news-date" datetime="{{ item.date | date: '%Y-%m-%d' }}">{{ item.date | date: "%b %-d, %Y" }}</time>
      <div class="news-body">
        {% if item.inline -%}
          {{ item.content | markdownify | remove: '<p>' | remove: '</p>' | emojify }}
        {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {%- endif %}
      </div>
    </li>
    {%- endfor %}
  </ol>
  {%- else -%}
  <p>No news so far...</p>
  {%- endif %}
</section>
