          <div class="service">
            <h2>service</h2>
            
            <h4>Journal Reviewer:</h4>
            <ul>
              <li>Elsevier Information Fusion (INFFUS)</li>
              <li>Elsevier Computer Vision and Image Understanding (CVIU)</li>
              <li>Elsevier Expert Systems with Applications (ESWA)</li>
              <li>IEEE Transactions on Intelligent Vehicles (T-IV)</li>
              <li>IEEE Transactions on Intelligent Transportation Systems (T-ITS)</li>
            </ul>

            <h4>Conference Reviewer:</h4>
            <ul>
              <li>IEEE International Conference on Computer Vision and Pattern Recognition (CVPR)</li>
              <li>IEEE International Conference on Computer Vision (ICCV)</li>
              <li>AAAI Conference on Artificial Intelligence (AAAI)</li>
              <li>IEEE International Conference on Intelligent Transportation Systems (ITSC)</li>
              <li>IEEE Intelligent Vehicles Symposium (IV)</li>
            </ul>

            <h4>Program Committee:</h4>
            <ul>
              <li>Chair, ICCV 2025 Workshop on <a href="https://multispectral4ra.github.io/" target="_blank">Multispectral Imaging for Robotics and Automation (MIRA)</a></li>
              <li>Chair, ACCV 2024 Workshop on <a href="https://multispectral4ra.github.io/index_accv.html" target="_blank">Multispectral Imaging for Robotics and Automation (MIRA)</a></li>
            </ul>
          </div>