            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="Email" aria-label="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.orcid_id -%}
            <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID" aria-label="ORCID"><i class="ai ai-orcid" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar" aria-label="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.research_gate_profile -%}
            <a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate" aria-label="ResearchGate"><i class="ai ai-researchgate" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.twitter_username -%}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.work_url -%}
            <a href="{{ site.work_url }}" title="Lab website" aria-label="Lab website"><i class="fas fa-briefcase" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.dblp_url -%}
            <a href="{{ site.dblp_url }}" title="DBLP" aria-label="DBLP"><i class="ai ai-dblp" aria-hidden="true"></i></a>
            {% endif %}
            {%- if site.rss_icon -%}
            <a href="{{ site.baseurl | prepend: site.url }}/feed.xml" title="RSS Feed" aria-label="RSS Feed"><i class="fas fa-rss-square" aria-hidden="true"></i></a>
            {% endif %}